apiVersion: nifi.konpyutaika.com/v1
kind: NifiCluster
metadata:
  name: nifi
spec:
  type: internal
  clusterManager: kubernetes

  nodeConfigGroups:
    default:
      image: apache/nifi:1.25.0
      service:
        type: ClusterIP
      #pod:
      #  terminationGracePeriodSeconds: 30

  nodes:
    - id: 1
      nodeConfigGroup: default

  listenersConfig:
    internalListeners:
      - name: http
        type: http
        containerPort: 8080
