apiVersion: nifi.konpyutaika.com/v1
kind: NifiCluster
metadata:
  name: nifi
spec:
  type: internal

  nodes:
    - id: 1

  listenersConfig:
    internalListeners:
      - name: http
        type: http
        containerPort: 8080
