apiVersion: nifi.konpyutaika.com/v1
kind: NifiCluster
metadata:
  name: nifi
spec:
  replicas: 1

  image:
    repository: apache/nifi
    tag: 1.25.0

  security:
    initialAdminIdentity: admin
    authentication:
      singleUser:
        enabled: true
        secretRef:
          name: nifi-credentials

  listenersConfig:
    internalListeners:
      - name: http
        type: http
        containerPort: 8080

  storageConfigs:
    - name: flowfile
      mountPath: /opt/nifi/nifi-current/flowfile_repository
      pvcSpec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi

    - name: content
      mountPath: /opt/nifi/nifi-current/content_repository
      pvcSpec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
