apiVersion: nifi.konpyutaika.com/v1
kind: NifiCluster
metadata:
  name: simplenifi
spec:
  service:
    headlessEnabled: true
    annotations:
      tyty: ytyt
    labels:
      tete: titi  
  pod:
    annotations:
      toto: tata
    labels:
      titi: tutu
  zkAddress: 'zookeepercluster-client.zookeeper:2181'
  zkPath: '/simplenifi'
  clusterImage: 'apache/nifi:1.11.3'
  oneNifiNodePerNode: false
  nodeConfigGroups:
    default_group:
      isNode: true
      podMetadata:
        annotations:
          node-annotation: "node-annotation-value"
        labels:
          node-label: "node-label-value"
      externalVolumeConfigs:
        - name: example-volume
          mountPath: "/opt/nifi/example"
          secret:
            secretName: "raw-controller"
      storageConfigs:
        - mountPath: '/opt/nifi/nifi-current/logs'
          name: logs
          # Metadata to attach to the PVC that gets created
          metadata:
            labels:
              my-label: my-value
            annotations:
              my-annotation: my-value
          pvcSpec:
            accessModes:
              - ReadWriteOnce
            storageClassName: 'standard'
            resources:
              requests:
                storage: 10Gi
      serviceAccountName: 'default'
      resourcesRequirements:
        limits:
          cpu: '2'
          memory: 3Gi
        requests:
          cpu: '1'
          memory: 1Gi
  nodes:
    - id: 1
      nodeConfigGroup: 'default_group'
    - id: 2
      nodeConfigGroup: 'default_group'
  propagateLabels: true
  nifiClusterTaskSpec:
    retryDurationMinutes: 10
  listenersConfig:
    internalListeners:
      - type: 'http'
        name: 'http'
        containerPort: 8080
      - type: 'cluster'
        name: 'cluster'
        containerPort: 6007
      - type: 's2s'
        name: 's2s'
        containerPort: 10000

