apiVersion: v1
kind: Service
metadata:
  name: discord-alm
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: http
    port: 9094
    protocol: TCP
    targetPort: 9094
  selector:
    app.kubernetes.io/name: discord-alm
  sessionAffinity: None
  type: ClusterIP
