domain: grafana-loki.otep-prod.dev-hubs.com

loki-stack:
  grafana:
    grafana.ini:
      server:
        root_url: grafana-loki.otep-prod.dev-hubs.com
    grafana.ini:
      server:
        root_url: https://grafana-loki.otep-prod.dev-hubs.com
        domain: grafana-loki.otep-prod.dev-hubs.com
