domain: grafana-loki.otep.triple-t.co

loki-stack:
  grafana:
    grafana.ini:
      server:
        root_url: grafana-loki.otep.triple-t.co
    grafana.ini:
      server:
        root_url: https://grafana-loki.otep.triple-t.co
        domain: grafana-loki.otep.triple-t.co
