apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nginx
  namespace: kube-system
spec:
  repo: https://kubernetes.github.io/ingress-nginx
  chart: ingress-nginx
  version: 4.14.1
  targetNamespace: ingress-nginx
  valuesContent: |-
    controller:
      service:
        #externalTrafficPolicy: "Local" #To make real-ip works, need to restart pod
        enabled: true
        type: NodePort
        nodePorts:
          https: 32443
          http: 32080

      config:
        enable-real-ip: "true"
