domain: nifi.otep-prod.dev-hubs.com

nifi:
  enabled: true
  nameOverride: nifi

  ingress:
    enabled: false

  global:
    nifi:
      nodeCount: 1
    #basic:
    #  admin_username: "admin"
    #  admin_password: "change-this"

  resources:
    requests:
      cpu: 200m
      memory: 1Gi

  jvmHeap:
    min: 256m
    max: 512m

  volumeClaims:
    config:
      size: 1Gi
      storageClass: "local-path"
    state:
      size: 2Gi
      storageClass: "local-path"
    content:
      size: 5Gi
      storageClass: "local-path"

  zookeeper:
    image:
      registry: docker.io
      repository: bitnamilegacy/zookeeper
      tag: 3.8.2
      pullPolicy: IfNotPresent
