domain: nifi.otep.triple-t.co

nifi:
  enabled: true
  nameOverride: nifi

  ingress:
    enabled: true
    ingressClassName: nginx
    hostName: nifi.otep.triple-t.co
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    tls:
      - secretName: nifi-cert
        hosts:
          - nifi.otep.triple-t.co

  persistence:
    enabled: true
    storageClass: local-path
    data:
      size: 10Gi
      storageClass: "local-path"
    flowfile:
      size: 5Gi
      storageClass: "local-path"
    content:
      size: 5Gi
      storageClass: "local-path"
    provenance:
      size: 5Gi
      storageClass: "local-path"

  global:
    nifi:
      nodeCount: 1

  resources:
    requests:
      cpu: 200m
      memory: 1Gi

  jvmHeap:
    min: 256m
    max: 512m

  zookeeper:
    image:
      registry: docker.io
      repository: bitnamilegacy/zookeeper
      tag: 3.9.3
      pullPolicy: IfNotPresent

    global:
      security:
        allowInsecureImages: true
