domain: nifi.otep-prod.dev-hubs.com

nifi:
  enabled: true
  nameOverride: nifi

  ingress:
    enabled: false

  global:
    nifi:
      nodeCount: 1
    #basic:
    #  admin_username: "admin"
    #  admin_password: "change-this"

  resources:
    requests:
      cpu: 200m
      memory: 1Gi

  jvmHeap:
    min: 256m
    max: 512m

  persistence:
    storageClass: "" # default

  zookeeper:
    image:
      registry: docker.io
      repository: bitnamilegacy/zookeeper
      tag: 3.8.2
      pullPolicy: IfNotPresent

    global:
      security:
        allowInsecureImages: true

    command:
      - /bin/bash
      - -ec
      - |
        # ถ้าไม่มี zoo_sample.cfg ให้ copy zoo.cfg ตั้งชื่อแทน
        if [ ! -f /opt/bitnami/zookeeper/conf/zoo_sample.cfg ]; then
          cp /opt/bitnami/zookeeper/conf/zoo.cfg /opt/bitnami/zookeeper/conf/zoo_sample.cfg
        fi

        # ไปต่อ command เดิมของ chart
        exec /entrypoint.sh /run.sh
