domain: nifi.otep-prod.dev-hubs.com

nifi:
  enabled: true
  nameOverride: nifi

  ingress:
    enabled: true
    ingressClassName: nginx
    hostName: nifi.otep-prod.dev-hubs.com
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    tls:
      - secretName: nifi-cert
        hosts:
          - nifi.otep-prod.dev-hubs.com

    extraEnv:
      - name: SINGLE_USER_CREDENTIALS_USERNAME
        valueFrom:
          secretKeyRef:
            name: nifi-credentials
            key: NIFI_USER

      - name: SINGLE_USER_CREDENTIALS_PASSWORD
        valueFrom:
          secretKeyRef:
            name: nifi-credentials
            key: NIFI_PASSWORD

  global:
    nifi:
      nodeCount: 1
    #basic:
    #  admin_username: "admin"
    #  admin_password: "change-this"

  resources:
    requests:
      cpu: 200m
      memory: 1Gi

  jvmHeap:
    min: 256m
    max: 512m

  persistence:
    storageClass: "" # default

  zookeeper:
    image:
      registry: docker.io
      repository: bitnamilegacy/zookeeper
      tag: 3.9.3
      pullPolicy: IfNotPresent

    global:
      security:
        allowInsecureImages: true
