domain: nifi.otep.triple-t.co

nifi:
  enabled: true
  nameOverride: nifi

  ingress:
    enabled: true
    ingressClassName: nginx
    hostName: nifi.otep.triple-t.co
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    tls:
      - secretName: nifi-cert
        hosts:
          - nifi.otep.triple-t.co

  volumeClaims:
    config:
      storageClass: "local-path"
    state:
      storageClass: "local-path"
    flowfile:
      storageClass: "local-path"
    content:
      storageClass: "local-path"
    provenance:
      storageClass: "local-path"
    logs:
      storageClass: "local-path"

  global:
    nifi:
      nodeCount: 1
  
    # OpenID Connect (OIDC) Authentication ถ้าใช้อันนี้ basic authen จะไม่ทำงาน
    oidc:
      enabled: true
      oidc_url: "https://keycloak.otep.triple-t.co/.well-known/openid-configuration"
      client_id: "nifi-client"
      client_secret: "your-client-secret-here"
      claim_identifying_user: "preferred_username"
      initial_admin_identity: "pjame.fb@gmail.com"

  resources:
    requests:
      cpu: 200m
      memory: 1Gi

  jvmHeap:
    min: 256m
    max: 512m

  zookeeper:
    image:
      registry: docker.io
      repository: bitnamilegacy/zookeeper
      tag: 3.9.3
      pullPolicy: IfNotPresent

    global:
      security:
        allowInsecureImages: true
