domain: metabase.otep.triple-t.co

### Metabase ###
metabase-k8s:
  enabled: true
  nameOverride: metabase

  ingress:
    enabled: false

  istio:
    enabled: false

  persistence:
    storageClass: "local-path"
    size: 10Gi

  image:
    repository: metabase/metabase-enterprise
    tag: v0.53.4.1

  metabase:
    env:
    - name: MB_PLUGINS_DIR
      value: "/plugins"

    - name: MB_SITE_URL
      value: "https://istio_HOST/istio_PATH"

    - name: MB_DB_TYPE
      value: "postgres"
    - name: MB_DB_DBNAME
      value: "metabase"
    - name: MB_DB_PORT
      value: "5432"
    - name: MB_DB_HOST
      value: "postgresql"
    - name: MB_DB_USER
      value: "bn_metabase"
    - name: MB_DB_PASS #รอ helm เวอร์ชันที่ support secretKeys
      value: bn_metabase

    - name: MB_PREMIUM_EMBEDDING_TOKEN
      valueFrom:
        secretKeyRef:
          name: mb-secret-license
          key: MB_PREMIUM_EMBEDDING_TOKEN

### pgSQL ###
postgresql:
  enabled: true
  fullnameOverride: postgresql
  auth:
    database: metabase

    username: "bn_metabase"
    password: "bn_metabase"

    #existingSecret: postgres-secret
    #secretKeys:
    #  adminPasswordKey: adminPasswordKey
  primary:
    persistence:
      size: 15Gi
    resources:
      requests:
        memory: "1Gi"
        cpu: "300m"
      limits:
        memory: "2Gi"
        cpu: "1"
  image:
    registry: asia-southeast1-docker.pkg.dev
    repository: its-artifact-commons/utils/postgresql
    tag: "v16.2.0-2"
