domain: metabase.otep.triple-t.co

### Metabase ###
metabase-k8s:
  enabled: true
  nameOverride: metabase

  ingress:
    enabled: false

  istio:
    enabled: false

  persistence:
    storageClass: "local-path"
    size: 10Gi
