
postgresql:
  enabled: true
  fullnameOverride: postgresql
  auth:
    database: otep-prod
    existingSecret: postgres-secret
    secretKeys:
      adminPasswordKey: adminPasswordKey
  primary:
    persistence:
      size: 5Gi
  
  image:
    registry: asia-southeast1-docker.pkg.dev
    repository: its-artifact-commons/utils/postgresql
    tag: "v16.2.0-2"
